/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;                               /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline;          /* приводим все к одной базовой линии */
    background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
	scroll-behavior: smooth;
	overflow-x: hidden;
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline:none;
    text-decoration: none;
}
table {						/* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}
td, td img {
    vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
    margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
    outline: none;
    font-family: MyriadProLight;
}
input[type="text"], input[type="password"], textarea {
    padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display:block;
}
nav ul {
    list-style:none;
}
ul{
    list-style: none;
}
/* --------------- /reset.css --------------- */
body{
	text-align: justify;
}
.header__mobile{
	position: fixed;
	background-color: #2D303A;
	display: none;
	align-items: center;
	height: 71px;
	width: 100%;
	z-index: 3;
}
.close{
	transition: 0.5s;
	opacity: 0;
	left: -100vh;
}
.burger-active{
	transform: rotate(90deg);
}
.header__mobile .header__title{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s;
}
.burger{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.burger span{
	border: 2px solid #ffffff;
	width: 25px;
	border-radius: 1px;
	margin-bottom: 6.4px;
}
.burger span:last-child{
	margin-bottom: 0;
}
.burger:hover{
	cursor: pointer;
}
.scroll-block{
	overflow: hidden;
}
.mobile-menu{
	position: fixed;
	z-index: 4;
	width: 74.13%;
	height: 100%;
	background: #2D303A;
	transition: 0.5s;
	box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
}
.shadow{
    background-color: rgba(45, 48, 58, 0.6);
}
.wrapper{
	position: fixed;
	display: none;
	background: black;
	opacity: 0.6;
	top: 0;
	right:0;
	width: 25.87%;
	height: 100%;
}
.mobile__menu__header .burger{
	transform: rotate(-90deg);
}
.mobile__menu__header .burger:hover{
	cursor: pointer;
}
.mobile__menu__header{
	display: flex;
	margin-top: 23.5px;
}
.mobile__menu__header .header__title{
	margin-left: 28.5px;
}
.mobile__menu-links{
	max-width: max-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.mobile__menu-links a{
	 color: #ffffff;
	 text-transform: uppercase;
	 font-size: 24px;
	 font-family: 'Lato Bold';
}
.mobile__menu-links li{
	margin-bottom: 27px;
}

header{
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
	padding: 45px 0px 35px 0px;
	position: fixed;
	width: 100%;
	z-index: 2;
}
.container{
	max-width: 940px;
	margin:auto;
}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lato Bold';
	text-transform: uppercase;
}
.header__title a{
	font-family: 'Lato Bold';
	text-transform: uppercase;
	font-size: 25px;
	color: #ffffff;
}
.header__title a:hover{
	color: #f06c64;
	transition: 0.5s;
}
.header__title a span{
	color: #f06c64;
}
.header__menu__wrapper{
	display: flex;
	align-items: center;
}
.header__menu{
	font-size: 12px;
	display: flex;
	align-items: center;
}
.header__menu li{
	padding-right: 30px;
	position: relative;
}
.header__menu li:last-child{
	padding-right: 0px;
	position: relative;
}
.header__menu li::after{
    position: absolute;
    top: 6px;
    right: 15px; 
    content: " ";
    background-color: #494e62;
    width: 3px;
    height: 3px;
    border-radius: 50%;
}
.header__menu li:last-child::after{
	display: none;
}
.header__menu li a{
	color: #ffffff;
}
.header__menu li a:hover{
	transition: 0.5s;
	color: #f06c64;
}
.header-active{
	color: #f06c64 !important;
}
.slider{
	background-color: #f06c64;
	padding: 169px 0px 0 0px;
	height: 594px;
	border-bottom: 6px solid #ea676b;
}
.slider .container{
	display: flex;
	justify-content: space-between;
	align-items: center;    
	position: relative;
	z-index: 1;
}
.slide{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 522px;
}
.slide-2__phone-vertical{
	background: url('./assets/Slider.png') no-repeat;
	width: 518px;
	height: 522px;
}
.vertical-screen{
	width: 189px;
    height: 334px;
    border-radius: 3px;
    margin-top: 64.5px;
    margin-left: 13.5px;
    transition: 0.5s;
    background-color: #000000;
}
.vertical__on-off{
	width: 42px;
	height: 42px;
	margin-left: 87px;
	margin-top: 10px;
}
.vertical__on-off:hover{
	cursor: pointer;
}
.horizontal-screen{
    width: 334px;
    height: 189px;
    border-radius: 3px;
    transition: 0.5s;
    background-color: #000000;
    margin-left: 9px;
    margin-top: 13px;
}
.horizontal__on-off{
	width: 42px;
    height: 42px;
    margin-left: 9px;
    margin-top: 87.5px;
}
.horizontal__on-off:hover{
	cursor: pointer;
}
.phone-vertical{
	background: url('./assets/iPhoneVertical.png') no-repeat;
	width: 240px;
	height: 483px;
	margin-right: 73px;
}
.phone-horizontal{
	background: url('./assets/phone-horizontal\ \(1\).png') no-repeat;
	width: 483px;
	height: 240px;
	display: flex;
}
.button-prev{
	background: url('./assets/chev.png') no-repeat;
	width: 16px;
	height: 27px;
}
.button-prev:hover{
	opacity: 0.5;
	transition: 0.5s;
	cursor: pointer;
}
.button-next{
	background: url('./assets/chev1.png') no-repeat;
	width: 16px;
	height: 27px;
}
.button-next:hover{
   opacity: 0.5;
   transition: 0.5s;
	cursor: pointer;
}
.vertical-screen__2{
	width: 200px;
    height: 355px;
    background-color: #000000;
    margin-left: 148px;
    margin-top: 71px;
    border-radius: 5px;
	display: inline-block;
	transition: 0.5s;
}
.vertical__on-off__2{
	width: 45px;
    margin-left: 225px;
    height: 45px;
	margin-top: 9px;
	display: inline-block;
}
.vertical__on-off__2:hover{
	cursor: pointer;
}
.services{
	position: relative;
	background-color: #f2f2f2;
	padding: 59px 0px 33px 0px;
    border-bottom: 6px solid #ffffff;
}
.services .container{
    color: #767E9E;
    text-align: justify;
}
.services__header{
	color: #666d89;
	font-family: 'Lato Light';
	margin-bottom: 55px;
}
.services__header h1{
	font-size: 30px;
	display: inline-block;
	font-family: 'Lato Black';
	margin-bottom: 37px;
}
.services__header p{
	font-size: 18px;
	letter-spacing: -0.1px;
}
.services__wrapper{
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column__item{
	display: flex;
	justify-content: space-between;
}
.column__item img{
	width: 59px;
	height: 59px;
	margin-right: 21px;
}
.column__item__content{
	color: #666d89;
	max-width: 300px;
    margin: 0 20px 25px 0;
}
.column__item__content span{
	font-family: 'Lato Black';
	font-size: 18px;
	display: inline-block;
}
.column__item__content p{
	font-family: 'Lato Regular';
	font-size: 12px;
	max-width: 209px;
	text-overflow: ellipsis;
	letter-spacing: -0.1px;
	text-align: justify;
	word-spacing: -2px;
	line-height: 2;
}
.portfolio{
	background-color: #2d303a;
	padding: 74px 0px 67px 0px;
	border-bottom: 6px solid #323746;
}
#portfolio{
	position: relative;
}
.portfolio__head{
	color: #666d89;
}
.portfolio__head span{
	font-size: 30px;
	font-family: 'Lato Black';
	margin-bottom: 37px;
	display: inline-block;
}
.portfolio__head p{
	font-size: 18px;
	font-family: 'Lato Light';
	margin-bottom: 19px;
}
.portfolio__buttons{
	display: flex;
	margin-bottom: 19px;
}
.portfolio__buttons a{
	color: #666d89;
	height: 20px;
    padding: 0 6px;
    display: flex;
    align-items: center;
	border: 1px solid #666d89;
	border-radius: 5px;
	font-family: 'Lato Light';
	font-size: 12px;
	margin-right: 10px;
}
a.portfolio-active{
	color: #dedede;
	border: 1px solid #dedede;
	transition: 0.5s;
}
.portfolio__buttons a:last-child{
	margin-right: 0;
}
.portfolio__buttons a:hover{
	color: #dedede;
	border: 1px solid #dedede;
	transition: 0.5s;
}
.portfolio__images img{
	width: 220px;
	height: 190px;
}
.portfolio__images{
    width: 940px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}
.img-active{
	border: 5px solid #d6564f;
	box-sizing:border-box;
	transition: 0.5s;
}
.about-us{
	background-color: #f2f2f2;
	color: #666d89;
	padding: 73px 0px 67px 0px;
	border-bottom: 6px solid #ffffff;
}
#about{
	position: relative;
}
.about-us__head span{
	font-family: 'Lato Bold';
	display: inline-block;
	font-size: 30px;
	margin-bottom: 37px;
}
.about-us__head p{
	font-family: 'Lato Light';
	font-size: 18px;
	width: 95%;
	margin-bottom: 53px;
}
.about_us__items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-us__item{
	width: 30%;
}
.about-us__item img{
	width: 100%;
	margin-bottom: 23px;
}
.about-us__item span{
	display: block;
	font-size: 18px;
	font-family: 'Lato Black';
	margin-bottom: 20px;
	max-width: 300px;
	text-overflow: ellipsis;
}
.about-us__item p{
	font-size: 12px;
	font-family: 'Lato Regular';
	margin-bottom: 30px;
	line-height: 1.5;
	letter-spacing: -0.1px;
}
.about-us__item__social{
	display: flex;
	align-items: center;
}
.about-us__item__social img{
	width: 32px;
	height: 32px;
	margin-bottom: 0;
}
.about-us__item__social a{
	margin-right: 8px;
}
.about-us__item__social a:last-child{
	margin-right: 0px;
}
.about-us__item__social a img:hover{
	background-color: #f06c64;
	border-radius: 50%;
}
.get-a-quote{
	padding: 73px 0px 74px 0px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}
#contact{
	position: relative;
}
.get-a-quote__wrapper{
	display: flex;
}
.get-a-quote__head span{
	color: #f0d8d9;
	display: block;
	font-size: 30px;
	font-family: 'Lato Black';
	margin-bottom: 37px;
}
.get-a-quote p{
	color: #f0d8d9;
	font-size: 18px;
	font-family: 'Lato Light';
	margin-bottom: 51px;
	width: 95%;
}
.form{
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	width: 65%;
}
.form form input{
	font-family: 'Lato Regular';
	font-size: 12px;
	color: #ec7f80;
	background-color: #d6564f;
	border: 0;
	padding: 15px 0 15px 15px;
	margin-bottom: 16px;
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
}
.form form input::placeholder{
	color: #ec7f80;
}
.form form textarea{
	font-family: 'Lato Regular';
	font-size: 12px;
	color: #ec7f80;
	background-color: #d6564f;
	border: 0;
	padding: 15px 0 15px 15px;
	margin-bottom: 16px;
	border-radius: 10px;
	resize: none;
	height: 317px;
	width: 100%;
	box-sizing: border-box;
}
.form form textarea::placeholder{
	color: #ec7f80;
}
.form__button{
	font-size: 14px;
	font-family: 'Lato Regular';
	color: #886A30;
	width: 136px;
	height: 38px;
	border-radius: 5px;
	text-transform: uppercase;
	border: 0;
	background-color: #FBC65F;
}
.form__button:hover{
	cursor: pointer;
	text-decoration: underline;
	transition: 0.5s;
}
.get-a-quote__content{
	color: #f0d8d9;
	width: 35%;
}
.get-a-quote__content span{
	font-family: 'Lato Black';
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
}
.get-a-quote__content p{
	font-size: 12px;
	font-family: 'Lato Regular';
	margin-bottom: 36px;
	line-height: 2;
}
.get-a-quote__content__links{
	display: flex;
	flex-direction: column;
	line-height: 2;
}
.get-a-quote__content__links a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #f0d8d9;
	font-size: 12px;
	font-family: 'Lato Regular';
	width: max-content;
}
.get-a-quote__content__links a:hover{
	transition: 0.5s;
	text-decoration: underline;
}
.get-a-quote__content__links a:first-child img{
	width: 7px;
	height: 11px;
	margin-right: 13px;
}
.get-a-quote__content__links a:nth-child(2n) img{
	width: 11px;
	height: 11px;
	margin-right: 11px;
}
.get-a-quote__content__links a:last-child img{
	width: 13px;
	height: 8px;
	margin-right: 9px;
}

.hiddenForm{
    width: max-content;
    height: max-content;
	background: #FBC65F;
	font-family: 'Lato Regular';
	padding: 15px;
	font-size: 14px;
	color: #886A30;
	position: fixed;
	z-index: 3;
	top:100px;
	left: 50%;
	transform: translate(-50%);
}
.hiddenForm span{
	display: block;
	padding-bottom: 10px;
}
.hiddenForm button{
	width: max-content;
	width: 136px;
	height: 38px;
	font-size: 14px;
	text-transform: uppercase;
	background: #F06C64;
	color: #FBC65F !important;
	font-family: 'Lato Regular' !important;
	border: 0;
}
.hiddenForm button:hover{
	cursor: pointer;
}

.hidden{
	transition: 0.5s;
	display: none;
}

footer{
	padding: 22px 0px;
	background-color: #2d303a;
	color: #666d89;
	font-size: 12px;
	font-family: 'Lato Regular';
}
footer .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@font-face {
	font-family: 'Lato Bold';
	src: url('Lato-Bold.eot');
	src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
	url('Lato-Bold.woff') format('woff'),
	url(assets/Lato-Bold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Black';
	src: url('Lato-Black.eot');
	src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
	url(assets/Lato-Black.woff) format('woff'),
	url(assets/Lato-Black.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Light';
	src: url('Lato-Light.eot');
	src: url('Lato-Light.eot?#iefix') format('embedded-opentype'),
	url(assets/Lato-Light.woff) format('woff'),
	url(assets/Lato-Light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Regular';
	src: url('Lato-Regular.eot');
	src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url(assets/Lato-LiRegularght.woff) format('woff'),
	url(assets/Lato-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}


@media(max-width: 1020px){
	header .container{
		width: auto;
		padding: 0 40px;
	}
	.container{
		width: auto;
		padding: 0 40px;
	}
	.services{
		padding: 39px 0 25px;
	}
	.services__header{
		margin-bottom: 28px;
	}
	.services__header h1{
		margin-bottom: 18px;
	}
	.column__item__content{
		margin-bottom: 39px;
	}
	.portfolio{
		padding: 59px 0 45px;
	}
	.portfolio__head span{
		margin-bottom: 14px;
	}
	.portfolio__head p{
		margin-bottom: 12px;
	}
	.portfolio__images{
		width: auto;
		height: auto;
		justify-content: center;
	}
	.portfolio__images img{
		width: 100%;
		height: auto;
		flex: 1 0 23%;
		margin: 0 20px 20px 0;
	}
	.portfolio__buttons{
		margin-bottom: 28px;
	}
	.about-us{
		padding: 52px 0 75px;
	}
	.about-us__item img{
		margin-bottom: 12px;
	}
	.about-us__item span{
		margin-bottom: 5px;
	}
	.about-us__item p{
		margin-bottom: 5px;
	}
	.about-us__item__social img{
		margin-bottom: 0;
	}
	.get-a-quote{
		padding: 53px 0 39px;
	}
	.get-a-quote__head span{
		margin-bottom: 14px;
	}
	.get-a-quote__head p{
		margin-bottom: 19px;
	}
	.form{
		margin-right: 29px;
	}
	.form__input-text{
		margin-bottom: 12px;
	}
	.form form textarea{
		height: 159px;
	}
	.get-a-quote__content span{
		margin-bottom: 5px;
	}
	.get-a-quote__content p{
		margin-bottom: 10px;
	}
}
@media(max-width:768px){
	header{
		display: none;
	}
	.header__mobile{
		display: flex;
	}
	.portfolio__images img{
		flex: 1 0 30%;
	}
	.services{
		padding: 25px 0 17px;
	}
	.services__header{
		margin-bottom: 25px;
	}
	.portfolio{
		padding: 42px 0 22px;
	}
	.portfolio__images img:nth-child(2n){
		margin-right: 0;
	}
	.column__item:last-child .column__item__content{
		margin-bottom: 0;
	}
	.about-us{
		padding: 33px 0 11px;
	}
	.about-us__items{
		flex-direction: column;
	}
	.about-us__item{
		width: auto;
	}
	.about-us__head span{
		margin-bottom: 14px;
	}
	.about-us__head p{
		margin-bottom: 14px;
	}
	.about-us__item img{
		margin-bottom: 18px;
	}
	.about-us__item span{
		margin-bottom: 5px;
	}
	.about-us__item p{
		margin-bottom: 9px;
	}
	.about-us__item__social img{
		margin-bottom: 0;
	}
	.about-us__item__social{
		margin-bottom: 34px;
	}
	.get-a-quote{
		padding: 44px 0 42px;
	}
	.get-a-quote__head span{
		margin-bottom: 14px;
	}
	.get-a-quote__head p{
		text-align: start;
		margin-bottom: 19px;
	}
	.get-a-quote__wrapper{
		flex-direction: column;
	}
	.form{
		width: 100%;
	}
	.form__button{
		width: 100%;
		margin-bottom: 32px;
	}
	.get-a-quote__content{
		width: 100%;
	}
	.get-a-quote__content span{
		margin-bottom: 5px;
	}
	.get-a-quote__content p{
		margin-bottom: 5px;
	}
	footer{
		display: flex;
	}
	footer p{
		display: none;
	}
	footer .about-us__item__social{
		margin-bottom: 0;
	}
}
@media(max-width:375px){
	.container{
		padding:  0 15px;
	}
}